/******************************************************************
Site Name: Green Oak PCC Ltd.
Site URL: https://greenoakpcc.com/
Author: JRSL
Last Updated: 2021.04.01

Stylesheet: Button Styles

Buttons are a pretty important part of your site's style, so it's
important to have a consistent baseline for them. Use this stylesheet
to create all kinds of buttons.

Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/

/*********************
BUTTON DEFAULTS
We're gonna use a placeholder selector here
so we can use common styles. We then use this
to load up the defaults in all our buttons.

Here's a quick video to show how it works:
http://www.youtube.com/watch?v=hwdVpKiJzac

*********************/

%btn {
  display: inline-block;
  position: relative;
  font-family: $sans-serif;
  text-decoration: none;
  color: $white;
  font-size: 0.9em;
  font-size: 34px;
  line-height: 34px;
  font-weight: normal;
  padding: 0 24px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  @include transition(background-color 0.14s ease-in-out);

  // hovering on the btn
  &:hover, &:focus {
    color: $white;
    text-decoration: none;
    outline: none;
  } // end hover

  // clicking on the button
  &:active {
    top: 1px; // adds a tiny hop to the click
  } // end active

} // end .button

/*
An example button.
You can use this example if you want. Just replace all the variables
and it will create a button dependant on those variables.
*/
.blue-btn {
  @extend %btn; // here we load the btn defaults
  background-color: $blue;

  &:hover,
  &:focus {
    background-color: darken($blue, 4%);
  } // end hover

  &:active {
    background-color: darken($blue, 5%);
  } // end active

} // end blue button

/*********************
BUTTON STYLES
*********************/
.inquiry-button {
  margin-top: 5rem;

  .inquiry-button-link {
    background-color: $dark-green;
    border-bottom: solid 2px $deep-green;
    border-radius: 4px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    color: $white;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1.5rem 2rem;
    //padding: 0.75rem 1.0rem;
    text-decoration: none;

    &:active {
      border-bottom: solid 2px $dark-green;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
    }
  }
}
