/******************************************************************
Site Name: Green Oak PCC Ltd.
Site URL: https://greenoakpcc.com/
Author: JRSL
Last Updated: 2021.04.05

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

/*********************
NAVIGATION STYLES
*********************/

.nav {
	border-bottom: 0;
	margin: 0;

	li {

		a {
			display: block;
			color: $dark-green;
			text-decoration: none;
			padding: 0.75rem;
			font-size: 1.6rem;
			font-weight: bold;

			&:hover, &:focus {
        background-color: $dark-green;
        color: $white;
			}
		}
  }
}

/*********************
POSTS & CONTENT STYLES
*********************/

.wrap {
  width: 1040px;
}

.heading-area {
  display: flex;
  width: 100%;
  height: auto;

  figure.image-box-left{
    width: 45%;
    margin: 0;
  }

  .text-box-right {
    position: relative;
    width: 48%;
    //display: inline-block;
    font-size: 1.8rem;
    
      p {
        position: absolute;
        top: 40%;
        left: 10%;
        margin: 0;
      }
  }
}

.contents-area {
  display: flex;
  margin: 3rem 0;
  height: auto;
  width: 1040px;
}

span .contents-title {
  display: block;
  text-align: center;
}

.fig-left {
  width: 50%;
}

.contents-area-inner {
  width: 50%;
}

#home .image-area {
  height: 730px;
  width: 100%;
  margin-bottom: 3rem;
}

#home .list-area {
  display: flex;
  flex-wrap:wrap;
  height: auto;
  text-align: center;
  width: 1040px;

  li {
    margin: 10px;
    height: 150px;
    width: 240px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

#home .icon-box {
  display: inline-block;
  height: 250px;
  width: 300px;
  margin: 0 20px;

  .icon-image {
    position: relative;
    overflow: hidden;
    height: 250px;
    width: 300px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;

      img {
        position: absolute;
        height: 150px;
        width: 120px;
        top: 20%;
        left: 30%;
      }

      figcaption {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        height: 250px;
        width: 300px;
        background: rgba(0,84,82,1);
        border-radius: 5px;
        -webkit-transition: .3s;
        transition: .3s;
        opacity: 0;
        color: #fff;
        align-items: center;
        text-align: center;
        padding: 30px;
        transition:all 0.6s ease;

        &:h3 {
          color: $white;
          font-size: 2.2rem;
          font-weight: bold;
          //display: inline;
        }

        &:p {
          color: $white;
          font-size: 1.6rem;
        }
      }
      figcaption:hover {
        opacity: 1;
        transition:all 0.6s ease;
      }
  }
}

#home .item-box {
  display: inline-block;
  height: 340px;
  width: 300px;
  background-color: $white;
  //border: solid 1px gray;
  border-radius: 5px;
  box-shadow: 0 0 8px gray;
  //box-shadow: 2px 2px 4px gray;
  margin: 0 20px;
  padding: 2rem;

    .item-title {
      color: #324158;
      font-size: 2.3rem;
      font-weight: bold;
      margin: 1rem auto;
      text-align: center;
    }
    p {
      color: #5c6b80;
      font-size: 1.6rem;
      line-height: 1.8;
      text-align: center;
    }
}

#home .item-box-right {
  margin-left: 5rem;
}

#home .catch-image-area,
#services .catch-image-area {
  display: flex;
  height: auto;
  width: 100%;

  .catch-box-primary,
  .catch-box-secondary,
  .catch-box-tertiary {
    position: relative;
    width: 33.3%;
    height: auto;
    margin: 0;
    padding: 0;
  }

    .image-box-primary img,
    .image-box-secondary img,
    .image-box-tertiary img {
      margin: 0;
    }
    .catch-contents-box {
      position: absolute;
      top: 0;
      left: 0;

        .catch-title {
          color: $white;
          font-size: 1.7rem;
          font-weight:bolder;
          text-align: center;
        }

        .catch-lead,
        .catch-link-detail {
          color: $white;
          font-size: 1.5rem;
          font-weight: normal;
          padding: 1rem;
          text-align: center;
        }
    }
}

#services .article-header {
  background-image: url(https://greenoakpcc.com/wp/wp-content/uploads/2021/03/services_mv.png); /* 背景画像指定 */
  background-repeat: no-repeat;
  background-position: left top;
  height: 600px;
  padding: 0;
  width: 970px;

    h1.page-title {
      color: $white;
      font-weight: bold;
      padding-top: 50px;
      padding-left: 50px;
    }
}

#about .article-header {

  .tagline {
    width: 45%;
    display: inline-block;
    font-size: 2rem;
    color: $pcc-green;
    text-align: center;
  }

}
