/******************************************************************
Site Name: Green Oak PCC Ltd.
Site URL: https://greenoakpcc.com/
Author: JRSL
Last Updated: 2021.03.29

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

/*********************
NAVIGATION STYLES
*********************/

.nav {
	border-bottom: 0;
	margin: 0;

	li {

		a {
			display: block;
			color: $dark-green;
			text-decoration: none;
			padding: 0.75rem;
			font-size: 1.6rem;
			font-weight: bold;

			&:hover, &:focus {
        background-color: $dark-green;
        color: $white;
			}
		}
  }
}

/*********************
POSTS & CONTENT STYLES
*********************/

.wrap {
  width: 1040px;
}

#services .article-header {
  background-image: url(https://greenoakpcc.com/wp/wp-content/uploads/2021/03/services_mv.png); /* 背景画像指定 */
  background-repeat: no-repeat;
  background-position: left top;
  width: 970px;
  height: 600px;

    h1.page-title {
      color: $white;
      font-weight: bold;
      padding-top: 50px;
      padding-left: 50px;
    }
}