/******************************************************************
Site Name: Green Oak PCC Ltd.
Site URL: https://greenoakpcc.com/
Author: JRSL
Last Updated: 2021.04.19

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

/*********************
NAVIGATION STYLES
*********************/

.nav {
	border-bottom: 0;
	margin: 0;

	li {

		a {
			display: block;
			color: $dark-green;
			text-decoration: none;
			padding: 0.75rem;
			font-size: 1.6rem;
			font-weight: bold;

			&:hover, &:focus {
        background-color: $dark-green;
        color: $white;
			}
		}
  }
}

/*********************
POSTS & CONTENT STYLES
*********************/

.wrap {
  width: 1040px;
}

.entry-content {
  padding: 0;
}

.heading-area {
  display: flex;
  width: 100%;
  height: auto;

  figure.image-box-left{
    width: 45%;
    margin: 0;
  }

  .text-box-right {
    position: relative;
    width: 54%;
    
      p {
        font-size: 2rem;
        position: absolute;
        top: 30%;
        left: 0;
        padding-left: 2rem;
        margin: 0;
      }
  }
}

.contents-area {
  display: flex;
  margin: 5rem auto;
  height: auto;
  width: 1040px;

  .content-title {
    color: $dark-green;
    font-size: 3.5rem;
    font-weight: bolder;
  }

  p {
    color: $text-color;
    font-size: 2rem;
  }
}

.image-area {
  margin: 3rem auto;
  height: auto;
  width: 1040px;
}

.fig-left {
  width: 50%;
}

.contents-area-inner {
  width: 50%;
}

.licence-box {
  margin: 7rem auto 3rem;
  text-align: center;

  h4 {
    text-align: center;
    width: 100px;
  }

  .image-box {
    margin: 0 auto;
    height: 180px;
    width: 468px;
  }
}

/* ==================
  HOME STYLES
=================== */

#home .heading-area {
  position: relative;
  width: 100%;
  height: auto;

  .heading-video-box {
    border: none;
    margin: 0 auto;
    max-width: 2400px;
    left: 0px;
    top: -45px;
    opacity: 1;
    width: 100%;
    height: auto;
  }

  .tagline {
    position: absolute;
    top: 70%;
    left: calc(50% - 15%);
    //left: calc(50% - 15%);
    /*top: calc(50% - 20px);
    /*top: 550px;
    left: 600px;*/

      .heading-title {
        color: $white;
        font-size: 3.5rem;
        font-weight: bolder;
        text-align: center;
      }

      p {
        color: $white;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
      }
  }
}

#home span .contents-title {
  color: $dark-green;
  font-size: 3.5rem;
  font-weight: bolder;
  display: block;
  text-align: center;
}

#home .fig-left {
  margin-bottom: 6rem;
}

#home .list-area {
  display: flex;
  flex-wrap:wrap;
  height: auto;
  text-align: center;
  width: 1040px;

  li {
    color: $text-color;
    font-size: 2rem;
    margin: 10px;
    height: 150px;
    width: 240px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

#home .icon-box {
  display: inline-block;
  height: 250px;
  width: 300px;
  margin: 0 20px;

  .icon-image {
    position: relative;
    overflow: hidden;
    height: 250px;
    width: 300px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;

      img {
        position: absolute;
        height: 150px;
        width: 120px;
        top: 20%;
        left: 30%;
      }

      figcaption {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        height: 250px;
        width: 300px;
        background: rgba(0,84,82,1);
        border-radius: 5px;
        -webkit-transition: .3s;
        transition: .3s;
        opacity: 0;
        color: #fff;
        align-items: center;
        text-align: center;
        padding: 20px;
        transition:all 0.6s ease;

        h3 {
          color: $white;
          font-size: 2.2rem;
          font-weight: bold;
          //display: inline;
        }

        p {
          color: $white;
          font-size: 1.6rem;
        }
      }
      figcaption:hover {
        color: $white;
        opacity: 1;
        transition:all 0.6s ease;
      }
  }
}

#home .item-box {
  display: inline-block;
  height: 340px;
  width: 300px;
  background-color: $white;
  border-radius: 5px;
  box-shadow: 0 0 8px gray;
  margin: 0 20px;
  padding: 2rem;

    .item-title {
      color: #324158;
      font-size: 2.3rem;
      font-weight: bold;
      margin: 1rem auto;
      text-align: center;
    }

    p {
      color: #5c6b80;
      font-size: 1.6rem;
      line-height: 1.8;
      text-align: center;
    }
}

#home .item-box-right {
  margin-left: 5rem;
  text-align: center;
}

/* ======================
  HOME & SERVICES STYLES
======================= */
#home .catch-image-area,
#services .catch-image-area {
  display: flex;
  height: auto;
  width: 100%;

  .catch-box-primary,
  .catch-box-secondary,
  .catch-box-tertiary {
    position: relative;
    width: 33.3%;
    height: auto;
    margin: 0;
    padding: 0;
  }

    .image-box-primary img,
    .image-box-secondary img,
    .image-box-tertiary img {
      margin: 0;
    }
    .catch-contents-box {
      position: absolute;
      top: 0;
      left: 0;

        .catch-title {
          color: $white;
          font-size: 1.7rem;
          font-weight:bolder;
          padding-top: 5rem;
          text-align: center;
        }

        .catch-lead,
        .catch-link-detail {
          color: $white;
          font-size: 1.5rem;
          font-weight: normal;
          padding: 2rem 1.5rem;
          text-align: center;
        }
    }
}

/* ==================
  SERVICES STYLES
=================== */

#services .article-header {
  background-image: url(https://greenoakpcc.com/wp/wp-content/uploads/2021/04/services_mv.png); /* 背景画像指定 */
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  margin: 0 auto;
  padding: 0;
  width: 100%;

    h1.page-title {
      color: $white;
      font-size: 3.5rem;
      font-weight: bold;
      padding-top: 100px;
      padding-left: 100px;
    }
}

#services .heading-area {
  margin: 3rem auto;
  width: 1040px;
}

#services .inquiry-area {
  margin: 5rem auto;
  text-align: center;
}

/* ==================
  ABOUT STYLES
=================== */

#about .article-header {
  background-image: url(https://greenoakpcc.com/wp/wp-content/uploads/2021/04/about_mv.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  margin: 0 auto;
  padding: 0;
  width: 100%;

  h1.page-title {
    color: #2f2e2e;
    font-size: 3.5rem;
    font-weight: bold;
    padding-top: 100px;
    padding-left: 100px;
  }

}

#about .heading-area {
  margin: 3rem auto;
  width: 1040px;

  .tagline {
    width: 54%;
    display: inline-block;
    text-align: center;

    h2{
      display: block;
      color: $dark-green;
      font-size: 3.5rem;
      font-weight: bolder;
      padding-left: 1rem;
      text-align: center;
    }
  }
}

#about .contents-area {

  .contents-title {
    display: block;
    color: $dark-green;
    font-size: 3.5rem;
    font-weight: bolder;
    padding-left: 1rem;
    text-align: center;
    width: 45%;
  }

  p {
    display: block;
    width: 54%;
  }
}

#about .image-box {
  background-color: #0b504f;
  position: relative;

  img.wp-image-72 {
    opacity: 0.7;
  }
  
  .mission {
    position: absolute;
    width: 100%;
    left: 0; 
    top: calc(50% - 20px);

    p {
      color: $white;
      font-size: 3.5rem;
      font-weight: bold;
      padding: 0 8rem;
      text-align: center;
    }
  }
  
}

#about .inquiry-area {
  margin: 5rem auto;
  text-align: center;

  h2 {
    color: $dark-green;
    display: block;
    font-size: 3.5rem;
    font-weight: bolder;
    text-align: center;
  }
}

/*#about .inquiry-area {
  display: inline-flex;
}
*/
#about .recruit-area {
  display: block;
  margin: 3rem auto 0;

  h2 {
    color: $dark-green;
    display: block;
    font-size: 3.5rem;
    font-weight: bolder;
    //padding-left: 1rem;
    text-align: center;
  }

  p {
    font-size: 2rem;
    text-align: center;
  }
}



/* ==================
  CONTACT STYLES
=================== */

#contact .article-header {
  background-blend-mode: overlay;
  background: rgba($color: #0b504f, $alpha: 0.7);
  background-image: url(https://greenoakpcc.com/wp/wp-content/uploads/2021/04/contact_mv-scaled.jpg);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  margin: 0 auto;
  padding: 0;
  width: 100%;

  h1.page-title {
    color: $white;
    font-size: 3.5rem;
    font-weight: bold;
    padding-top: 200px;
    text-align: center;
  }
}

#contact .contents-area {
  display: block;

  .lead {
    text-align: center;
  }
  
  .contact-form {
    margin: 5rem auto 0;
    height: auto;
    width: 440px;
  }
}

/*********************
FOOTER STYLES
*********************/

.footer {
  background-image: url(https://greenoakpcc.com/wp/wp-content/uploads/2021/04/footer_bg.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 633px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 100%;

  #inner-footer {
    width: 1040px;

    hr {
      width: 70%;
      color: $white;
      position: absolute;
      top: 65%;
      left: 50%;
      transform: translateX(-50%);
    }

    .footer-text-box {
      color: $white;
      font-size: 1.2rem;
      text-align: center;
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .copyright {
    color: $white;
    font-size: 1.4rem;
    margin: 0;
    //padding-top: 500px;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    text-decoration: none;

    a {
      color: $white;
      text-decoration: none;
    }
  }
}
